<html>
  <body style="background-color: #ECF3F6">
    <div style="padding: 50px 100px;">
      <div style="background-color: white;padding: 30px 50px;">
        <div style="border-bottom: 2px solid #ECF3F6">
          <h1>Your book rejected</h1>
        </div>

        <p>You can check the book rejected on dashboard or click to button</p>
        <a href="http://localhost:3001/">
          <button
            style="background-color: #f47836;color: white;border: none;padding: 8px 10px;border-radius: 8px;cursor: pointer;"
          >
            Click here
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
